DATABASE_URL=postgresql://yetano:yetano@localhost:5432/yetano_work
ORGANIZATION_ID=ddbdc2cc-bbc9-4426-97bf-d99520983bbb
POSTGRES_PORT=5432
APP_VERSION=0.1.0
LOG_LEVEL=info
NODE_ENV=development
PORT=3000
STATIC_ROOT=../web/dist
